<div class='column is-one-quarter'>
    <nav class='panel'>
        <p class='panel-heading'>Trends</p>
        <a class='panel-block'>T1</a>
        <a class='panel-block'>T2</a>
        <a class='panel-block'>T3</a>
        <a class='panel-block'>T4</a>
        <a class='panel-block'>T5</a>
    </nav>
</div>