<div class='column'>
    <nav class='panel'>
        <p class='panel-heading'>Who to Follow</p>
        
        <% User.all.sample(5).each do |suggested| %>
            <% if user_signed_in? && suggested.id == current_user.id %>
                <% next %>
            <%end%>

            <div class='panel-block'>
                <article class='media'>
                    <div class='media-left'>
                        <figure class='image is-32x32'>
                            <%= gravatar_image_tag(suggested.email, size: 32, alt: suggested.name) %>
                        </figure>
                    </div>
                    <div clas='media-content'>
                        <div class='content'>
                            <p>
                                <strong><%= suggested.name %></strong>
                                <small>@<%= suggested.username %></small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        <%end%>
    </nav>
</div>